.admin-header{
  background: #900;
}
.main-view.ng-leave {
  transform:translateX(-100%);
}
.main-view > .content{
  padding: 10px;
}
.main-view > .content .card{
  padding: 10px;
  border: 2px solid #DCB;
  border-radius: 3px;
  margin-bottom: 10px;
  overflow: auto;
}
.main-view > .content .card.gameboy-centered{
  text-align: center;
}
.wait {
  text-align: center;
}
.wait img{
  border-radius: 0 20px;
  border: 10px solid #432;
  cursor: pointer;
}
.round-label{
  font-size: 15px;
  margin: 10px 0;
  text-align: right;
}
.round-label .label{
  padding: 5px;
  border-radius: 0 5px;
  background-color: #432;
  font-size: 16px;
}

.games-list{
  list-style: none;
  margin: 0 0 10px;;
  padding: 0;
}
.games-list > li{
  cursor: pointer;
  color:#333;
  padding: 10px;
  border-bottom: 1px solid #CCC;
}
.games-list > li i{
  float: right;
  color: #333;
}
.games-list > li.selected{
  background: #900;
  color: #EFEFEF;
  border-radius: 3px;
}
.games-list > li.selected i{
  color: #EFEFEF;
}

.fighter-creation label{
  display: block;
  margin-top: 5px;
}
.fighter-creation .sprite-preview .btn{
  display: inline-block;
  width:calc(100% - 90px);
  vertical-align: top;
  height: 80px;
}
.class-card{
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}
.class-card.selected{
  background-color: #334;
  color: white;
  box-shadow: 0 0 5px #333;
}
.class-card:hover{
  background-color: #600;
  color: white;
}
.class-card h3{
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  text-align: center;
}
.progress{
  background: #333;
  position: relative
}
.progress label{
  padding: 0 3px;
  position: absolute;
  top: 2px;
  font-size: 12px;
  font-weight: normal;
  left: 0;
  width: 100%;
  color: #EFEFEF;
  display: inline-block;
  text-align: left;
}
.class-card .progress{
  margin: 5px 0;
}
.class-card .progress .progress-bar{
  text-align: left;
  padding-left: 5px;
}
.adversary-area{
  height: 410px;
  overflow: auto;
  text-align: right;
}
.fighter-filter .form-control,
.fighter-filter .checkbox{
  max-width: 200px;
  display:inline-block;
}
.fighter-card{
  display: inline-block;
  text-align: center;
  padding: 2px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  margin-bottom: 35px;
  max-width: 80x;
  border: 2px solid transparent;
}
.fighter-card.selected,
.fighter-card:hover{
  background-color: #FFF;
  box-shadow: 0 0 5px #433;
}
.fighter-card.selected{
  border: 2px solid red;
}
.fighter-card .fighter-name{
  position: absolute;
  display: none;
  top: 125px;
  left: 0;
  padding: 5px;
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 5px #433;
  z-index: 2;
}
.fighter-card.selected .fighter-name,
.fighter-card:hover .fighter-name{
  display: inline-block;
}
.fighter-card .progress{
  margin-bottom: 2px;
}
.fighter-card img{
  max-width: 80px;
}

.gameboy{
  display: inline-block;
  background: #432;
  padding: 10px;
  border-radius:5px;
}
.gameboy .gameboy-buttons-area{
  max-width: 150px;
  display: inline-block;
}
.gameboy .gameboy-buttons-area h6{
  color: #EFEFEF;
  font-size: 15px;
  margin: 0;
}
.gameboy .gameboy-buttons-area .label{
  margin: 5px 0 15px;
  font-size: 16px;
  display: inline-block;
  padding: 10px;
}
.gameboy .gameboy-buttons-area .btn-group {
  margin-bottom: 10px;
}
.gameboy .gameboy-buttons-area .btn-group .btn{
  font-size: 10px;
}
.gameboy .dialog{
  background: #FED;
  color:#432;
  border-left: 5px solid #red;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  text-align: left;
}
.gameboy .dialog .dialog-fighter-name{
  color:chocolate;
}
.battle .gameboy{
  display: block;
  margin: 0 0 10px;
}
.battle .card{
  max-height: 408px;
}
.my-fighter-area{
  margin-right: 5px;
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 382px;
  border-radius: 3px;
  overflow: hidden;
  height: 167px;
  background: url(../images/background.png);
}
.my-fighter-area.background-1{
  background-position: top left;
}
.my-fighter-area.background-2{
  background-position: right;
}
.my-fighter-area.background-3{
  background-position: bottom;
}
.my-fighter-area.background-4{
  background-position: right bottom;
}
.my-fighter-area.background-5{
  background-position: left;
}
.my-fighter-area.background-6{
  background-position: right top;
}
.my-fighter-area.background-7{
  background-position: -385px top;
}
.my-fighter-area.background-8{
  background-position: -385px;
}
.my-fighter-area.background-9{
  background-position: center 672px;
}
.my-fighter-area.background-10{
  background-position: center 672px;
}
.my-fighter-area .fighter-card{
  vertical-align: top;
  margin-left: 110px;
}
.my-fighter-area .fighter-card.second-target{
  position: absolute;
  top: 21px;
  left: 180px;
}
.my-fighter-area .fighter-card:hover{
  background: transparent;
  box-shadow: none;
  cursor: default;
}
.my-fighter-area .fighter-card:hover  .fighter-name{
  display: none;
}
.my-fighter-area .class-sprite{
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.my-fighter{
  margin: 15px 30px 0px;
  display: inline-block;
  max-width: 80px;
}
.my-fighter .class-sprite{
  max-width: 80px;
  -moz-transform: scale(-1.5,1.5);
  -o-transform: scale(-1.5,1.5);
  -webkit-transform: scale(-1.5,1.5);
  transform: scale(-1.5,1.5);
}
.my-fighter .progress{
  margin: 0;
}

/* classes sprites */
.class-sprite{
  display: inline-block;
  width: 80px;
  height: 80px;
}
.class-sprite.dead{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
}

/* animations  ------------------------------------------*/
.my-fighter-area .fighter-card.ng-enter, .slide-animate.ng-leave{
  -webkit-transition:all ease-in 1s;
  -moz-transition:all ease-in 1s;
  -o-transition:all ease-in 1s;
  transition:all ease-in 1s;
}
.my-fighter-area .fighter-card.ng-enter.ng-enter-active {
  right: 0px;
}
.my-fighter-area .fighter-card.ng-enter {
  position: absolute;
  right: -220px;
}
.my-fighter-area .fighter-card.ng-leave.ng-leave-active {
  position: absolute;
  right: -300px;
}
.my-fighter-area .fighter-card.ng-leave {
  -webkit-transition:all ease-in 1s;
  -moz-transition:all ease-in 1s;
  -o-transition:all ease-in 1s;
  transition:all ease-in 1s;
  position: absolute;
  right: 0px;
}

.my-fighter-area .my-fighter.ng-enter, .slide-animate.ng-leave{
  -webkit-transition:all ease-in 1s;
  -moz-transition:all ease-in 1s;
  -o-transition:all ease-in 1s;
  transition:all ease-in 1s;
}
.my-fighter-area .my-fighter.ng-enter.ng-enter-active {
  left: 0px;
}
.my-fighter-area .my-fighter.ng-enter {
  position: absolute;
  left: -120px;
}
.my-fighter-area .my-fighter.ng-leave.ng-leave-active {
  position: absolute;
  left: -300px;
}
.my-fighter-area .my-fighter.ng-leave {
  -webkit-transition:all ease-in 1s;
  -moz-transition:all ease-in 1s;
  -o-transition:all ease-in 1s;
  transition:all ease-in 1s;
  position: absolute;
  left: 0px;
}
/* end of animations */