.right{
  text-align: right;
}
.center{
  text-align: center;
}
.relative{
  position: relative;
}
.container .jumbotron .btn-link{
  float: left;
}
.custom-checkbox{
  display: inline-block;
  line-height: 1.3em;
  padding-left: 5px;
}
.custom-checkbox i{
  color: white;
  cursor: pointer;
  font-size: 1.3em;
  margin-left: 5px;
  vertical-align: bottom;
}
.admin-header > *{
  background: #900;
  box-shadow: 0 0 5px #000;
}
.main-view.ng-leave {
  transform:translateX(-100%);
}
.main-view > .content{
  padding: 10px;
}
.main-view > .content .card{
  padding: 10px;
  border: 2px solid #DCB;
  border-radius: 3px;
  margin-bottom: 10px;
  overflow: auto;
  background: rgba(245, 245, 220, 0.5);
}
.main-view > .content .card:last-child{
  margin-bottom: 0;
}
.main-view > .content .card >label{
  color: #282921;
}
.main-view > .content .card.gameboy-centered{
  text-align: center;
}
.wait {
  text-align: center;
}
.wait img{
  border-radius: 0 20px;
  border: 10px solid #484941;
  cursor: pointer;
}
.round-label{
  font-size: 15px;
  margin: 10px 0;
  text-align: right;
}
.round-label .label{
  padding: 5px;
  border-radius: 0 5px;
  background-color: #484941;
  font-size: 16px;
}

.games-list{
  list-style: none;
  margin: 0 0 10px;;
  padding: 0;
}
.games-list > li{
  cursor: pointer;
  padding: 20px;
  border: 1px solid #888981;
  background: #484941;
  color: white;
  border-radius: 5px;
  margin: 5px;
}
.games-list > li i{
  float: right;
}
.games-list > li.selected{
  background: #900;
  color: #EFEFEF;
  border: 1px solid #F8F9F1;
}
.games-list > li.selected i{
  color: #EFEFEF;
}

.fighter-creation label{
  display: block;
  margin-top: 5px;
}
.fighter-creation .sprite-preview .btn{
  display: inline-block;
  width:calc(100% - 90px);
  vertical-align: top;
  height: 80px;
}
.class-card{
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}
.class-card.selected{
  background-color: #334;
  color: white;
  box-shadow: 0 0 5px #333;
}
.class-card:hover{
  background-color: #600;
  color: white;
}
.class-card h3{
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  text-align: center;
}
.progress{
  background: #333;
  position: relative
}
.progress label{
  padding: 0 3px;
  position: absolute;
  top: 2px;
  font-size: 12px;
  font-weight: normal;
  left: 0;
  width: 100%;
  color: #EFEFEF;
  display: inline-block;
  text-align: left;
}
.class-card .progress{
  margin: 5px 0;
}
.class-card .progress .progress-bar{
  text-align: left;
  padding-left: 5px;
}
.adversary-area{
  height: 410px;
  overflow: auto;
  text-align: right;
}
.fighter-filter .form-control,
.fighter-filter .checkbox{
  max-width: 200px;
  display:inline-block;
}
.fighter-card{
  display: inline-block;
  text-align: center;
  padding: 2px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  margin-bottom: 35px;
  max-width: 80x;
  border: 2px solid transparent;
}
.fighter-card.selected,
.fighter-card:hover{
  background-color: #FFF;
  box-shadow: 0 0 5px #433;
}
.fighter-card.selected{
  border: 2px solid red;
}
.fighter-card .fighter-name{
  position: absolute;
  display: none;
  top: 125px;
  left: 0;
  padding: 5px;
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 5px #433;
  z-index: 2;
}
.fighter-card.selected .fighter-name,
.fighter-card:hover .fighter-name{
  display: inline-block;
}
.fighter-card .progress{
  margin-bottom: 2px;
}
.fighter-card img{
  max-width: 80px;
}
.fighter-card-end{
  display: inline-block;
  text-align: center;
  position: relative;
  margin-bottom: 35px;
  max-width: 80x;
  border: 2px solid transparent;
}
.fighter-card-end:hover,
.fighter-card-end:hover .fighter-name{
  z-index: 3;
}
.fighter-card-end.selected{
  border: 2px solid red;
}
.fighter-card-end .fighter-name{
  position: absolute;
  display: none;
  top: 90px;
  left: 0;
  padding: 5px;
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 5px #433;
  z-index: 2;
}
.fighter-card-end.selected .fighter-name,
.fighter-card-end:hover .fighter-name{
  display: inline-block;
}
.fighter-card-end img{
  max-width: 80px;
}
.gameboy.gameboy-admin{
  float: left;
}
.gameboy{
  display: inline-block;
  background: #484941;
  padding: 10px;
  border-radius:5px;
}
.gameboy .gameboy-buttons-area.battle{
  max-width: 500px;
}
.gameboy .gameboy-buttons-area.battle h6{
  margin: 5px;
  background: #282921;
  border-radius: 3px;
  line-height: 30px;
  text-shadow: 1px 1px 0px #000;
}
.gameboy .gameboy-buttons-area.battle h6 label:first-child{
  line-height: 30px;
  background: red;
  display: inline-block;
  padding: 0 10px;
}
.gameboy .gameboy-buttons-area.battle h6 .glyphicon{
  color: red;
  margin-left: -10px;
  font-size: 33px;
  vertical-align: top;
  margin-top: -3px;
}
.gameboy .gameboy-buttons-area.battle h6 label{
  margin: 0;
  vertical-align: top;
}
.gameboy .gameboy-buttons-area{
  max-width: 150px;
  display: inline-block;
}
.gameboy .gameboy-buttons-area h6{
  color: #EFEFEF;
  font-size: 15px;
  margin: 0;
}
.gameboy .gameboy-buttons-area .label{
  margin: 5px 0 15px;
  font-size: 16px;
  display: inline-block;
  padding: 10px;
}
.gameboy .gameboy-buttons-area .btn-group {
  margin-bottom: 10px;
}
.gameboy .gameboy-buttons-area .btn-group .btn{
  font-size: 10px;
}
.gameboy .dialog{
  background: #FED;
  color:#484941;
  border-left: 5px solid #red;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  text-align: left;
}
.gameboy .dialog .dialog-fighter-name{
  color:chocolate;
}
.battle .gameboy{
  display: block;
  margin: 0 0 10px;
}
.battle .card{
  max-height: 408px;
}
.my-fighter-area{
  margin-right: 5px;
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 382px;
  border-radius: 3px;
  overflow: hidden;
  height: 167px;
  background: url(../images/background.png);
}
.my-fighter-area.background-1{
  background-position: top left;
}
.my-fighter-area.background-2{
  background-position: right;
}
.my-fighter-area.background-3{
  background-position: bottom;
}
.my-fighter-area.background-4{
  background-position: right bottom;
}
.my-fighter-area.background-5{
  background-position: left;
}
.my-fighter-area.background-6{
  background-position: right top;
}
.my-fighter-area.background-7{
  background-position: -385px top;
}
.my-fighter-area.background-8{
  background-position: -385px;
}
.my-fighter-area.background-9{
  background-position: center 672px;
}
.my-fighter-area.background-10{
  background-position: center 672px;
}
.my-fighter-area .fighter-card{
  vertical-align: top;
  margin-left: 110px;
}
.my-fighter-area .fighter-card.second-target{
  position: absolute;
  top: 21px;
  left: 180px;
}
.my-fighter-area .fighter-card:hover{
  background: transparent;
  box-shadow: none;
  cursor: default;
}
.my-fighter-area .fighter-card:hover  .fighter-name{
  display: none;
}
.my-fighter-area .class-sprite{
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.confetti{
  width: 800px;
  height: 350px;
  display: inline-block;
  position: absolute;
  background-image: url(../images/confetti.gif);
  top: 0;
  left: 0;
  z-index: 4;
}
.background-end{
  width: 800px;
  height: 350px;
  margin-right: 5px;
  vertical-align: top;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  overflow: hidden;
  background-image: url(../images/end.gif);
  background-size: 100%;
}
.background-end .dead1 .class-sprite{
  -moz-transform: scale(1.3) rotate(90deg);
  -o-transform: scale(1.3) rotate(90deg);
  -webkit-transform: scale(1.3) rotate(90deg);
  transform: scale(1.3) rotate(90deg);
}
.background-end .alive .class-sprite{
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.background-end .dead2 .class-sprite{
  -moz-transform: scale(1.7) rotate(90deg);
  -o-transform: scale(1.7) rotate(90deg);
  -webkit-transform: scale(1.7) rotate(90deg);
  transform: scale(1.7) rotate(90deg);
}
.alive{
  top: 190px;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.dead1{
  position: relative;
  top: 180px;
  z-index: 0;
}
.dead2{
  position: relative;
  top: 160px;
  z-index: 2;
}
.winner-title{
  color: yellow;
  background: #333;
  margin: 5px 0 0;
  display: block;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}
.winner{
  max-height: 110px;
  overflow-y: auto;
  padding-left: 20px;
}
.winner .fighter-card-winner{
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 10px;
  max-width: 80x;
  border: 2px solid transparent;
}
.winner .fighter-card-winner:last-child{
  margin-bottom: 0;
}
#endModal{
  z-index: 1081;
}
#fightersList{
  z-index: 1080;
}
#endModal .fighter-card-winner .character-column,
.winner .fighter-card-winner .character-column{
  max-width: 100px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
#endModal .fighter-card-winner .fighter-name-column,
.winner .fighter-card-winner .fighter-name-column{
  display: inline-block;
  width: calc(100% - 100px);
  vertical-align: top;
  color: white;
  text-align: center;
}
#endModal .fighter-card-winner .fighter-name-column .label,
.winner .fighter-card-winner .fighter-name-column .label{
  text-transform: uppercase;
  margin-left: 10px;
}
#endModal .progress{
  background: #000;
}
#endModal .modal-dialog{
  width: 800px;
}
#endModal .scroll-bottom{
  max-height: 390px;
  overflow-y: auto;
}
#endModal .gameboy{
  margin-bottom: 10px;
  width: 100%;
}
#endModal .gameboy:last-child{
  margin-bottom: 0;
}
#endModal .modal-body{
  background: #333;
}

.my-fighter{
  margin: 15px 30px 0px;
  display: inline-block;
  max-width: 80px;
}
.my-fighter .class-sprite{
  max-width: 80px;
  -moz-transform: scale(-1.5,1.5);
  -o-transform: scale(-1.5,1.5);
  -webkit-transform: scale(-1.5,1.5);
  transform: scale(-1.5,1.5);
}
#endModal .progress,
.winner .progress,
.my-fighter .progress{
  margin: 0;
}

/* classes sprites */
.class-sprite{
  display: inline-block;
  width: 80px;
  height: 80px;
}
.class-sprite.dead{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
}

/* animations  ------------------------------------------*/
.my-fighter-area .fighter-card.ng-enter, .slide-animate.ng-leave{
  -webkit-transition:all ease-in 1s;
  -moz-transition:all ease-in 1s;
  -o-transition:all ease-in 1s;
  transition:all ease-in 1s;
}
.my-fighter-area .fighter-card.ng-enter.ng-enter-active {
  right: 0px;
}
.my-fighter-area .fighter-card.ng-enter {
  position: absolute;
  right: -220px;
}
.my-fighter-area .fighter-card.ng-leave.ng-leave-active {
  position: absolute;
  right: -300px;
}
.my-fighter-area .fighter-card.ng-leave {
  -webkit-transition:all ease-in 1s;
  -moz-transition:all ease-in 1s;
  -o-transition:all ease-in 1s;
  transition:all ease-in 1s;
  position: absolute;
  right: 0px;
}

.my-fighter-area .my-fighter.ng-enter, .slide-animate.ng-leave{
  -webkit-transition:all ease-in 1s;
  -moz-transition:all ease-in 1s;
  -o-transition:all ease-in 1s;
  transition:all ease-in 1s;
}
.my-fighter-area .my-fighter.ng-enter.ng-enter-active {
  left: 0px;
}
.my-fighter-area .my-fighter.ng-enter {
  position: absolute;
  left: -120px;
}
.my-fighter-area .my-fighter.ng-leave.ng-leave-active {
  position: absolute;
  left: -300px;
}
.my-fighter-area .my-fighter.ng-leave {
  -webkit-transition:all ease-in 1s;
  -moz-transition:all ease-in 1s;
  -o-transition:all ease-in 1s;
  transition:all ease-in 1s;
  position: absolute;
  left: 0px;
}
/* end of animations */
.winner-img{
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
}