/* Space out content a bit */
body {
  padding: 0;
  background: url(../images/pattern.jpg) repeat;
  height: 100%;
}
html {
  height: 100%;
}

/* Custom page header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 5px solid #484941;
  padding: 7px;
  margin: 0;
  overflow: hidden;
  width: 100%;
  background: #CBB49B;
  z-index: 1;
  box-shadow: 350px 0 50px #484941 inset;
}
.header h3 {
  padding: 0;
  margin: 0;
  color: #EFEFEF;
  display: inline-block;
  line-height: 35px;
}
.header h4 {
  display: inline-block;
  margin-right: 10px;
}
.header > .header-buttons{
  float: right;
}
.header > .header-buttons button{
  vertical-align: top;
}

.container{
  height: 100%;
  position: relative;
  padding: 60px 0 0;
  overflow-y: auto;
  max-width: 1024px;
}

.container .jumbotron{
  background-color: transparent;
  width: 70%;
  margin: -40px auto 0;
  padding: 0;
  border-bottom: none;
}

.container .jumbotron img{
  margin-bottom: -80px;
}

.container .jumbotron h2{
  color: #a6a100;
  text-shadow: 0 0 5px #000;
}

.container .jumbotron .form-group:last-child{
  text-align: right;
  margin-bottom: 0;
}

.container .jumbotron form{
  padding: 30px;
  background-color: #222;
  color: #EFEFEF;
  border-radius: 15px;
}

/* Custom page footer */
.footer {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: #321;
  box-shadow: 2px 3px 4px #210;
  cursor: pointer;
  text-align: right;
  bottom: 0;
  opacity: 0.5;
  right: 0;
  position: fixed;
  z-index: 1;
  background: #EFEFEF;
}
.footer:hover {
  opacity: 0.9;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
