<main-header class="admin-header"></main-header>
<div class="content">
  <div class="card">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createGameModal">
      Create Game
    </button>
  </div>
  <div class="card">
   <label>Enter a game</label>
   <ul class="games-list">
     <li ng-repeat="game in games" ng-class="{'selected':game.selected}" ng-click="selectGame(game)">{{game.name}}<i class="glyphicon" ng-class="{0:'glyphicon-stop',1:'glyphicon-play'}[game.status]"></i></li>
   </ul>
    <button class="btn btn-primary btn-lg" ng-click="enterGame($event)">Enter Game</button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="createGameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create game</h4>
      </div>
      <div class="modal-body">
        <label for="newGameName">Name: </label>
        <input type="text" id="newGameName" ng-model="newGameName">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="createGame($event)">Create</button>
      </div>
    </div>
  </div>
</div>