<main-header class="admin-header"></main-header>
<div class="content battle">
  <div class="card scroll-bottom">
    <div ng-repeat="action in actions track by action.idaction">
      <div class="gameboy" ng-if="$index < showFight" ng-class="{'skipped':action.status==2}">
        <div class="my-fighter-area background-{{action.randomBackground}}">
          <my-fighter fighter="action"></my-fighter>
          <fighter-card fighter="action.target_fighter" ng-animate="'slide'" damage="action.damage"></fighter-card>
        </div>
        <div class="gameboy-buttons-area battle">
          <h6>
            <label>{{action.name}}</label>
            <i class="glyphicon glyphicon-play"></i>
            {{action.target_name}} 
          <label class="label" ng-class="action.damage>0?'label-danger':'label-success'">{{action.damage>0?action.damage:'+'+(action.damage*-1)}}</label>
          </h6>
          <span class="label label-success" ng-if="action.damage<=0">Heal!</span>
          <span class="label label-warning" ng-if="action.critical">A Critical hit!</span>
          <span class="label label-info" ng-if="action.effective == 2">It's not very effective...</span>
          <span class="label label-success" ng-if="action.effective == 1">It's super effective!</span>
          <div ng-hide="$last">
          <button ng-click="nextFight($index)" type="button" class="btn btn-info btn-lg">Next Fight</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card right">
    <button type="button" class="btn btn-primary btn-lg" ng-click="nextRound()">
      Start new Round
    </button>
  </div>
</div>