<main-header></main-header>
<div class="content fighter-creation">
  <div class="card">
    <div class="col-md-4">
      <label>Gender:</label>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn" ng-class="gender == 1?'btn-danger':'btn-default'" ng-click="gender=1">Female</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn" ng-class="gender == 2?'btn-danger':'btn-default'" ng-click="gender=2">Male</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn" ng-class="gender == 0?'btn-danger':'btn-default'" ng-click="gender=0">Hungry</button>
        </div>
      </div>
      <label>Fighter Name:</label>
      <input type="text" class="col-md-12" ng-model="fighterName" maxlength="45">
      <label ng-hide="hideParameters">Speech before kill somebody:</label>
      <input ng-hide="hideParameters" type="text" class="col-md-12" ng-model="killSpeech">
      <label ng-hide="hideParameters">Your entrance line:</label>
      <input ng-hide="hideParameters" type="text" class="col-md-12" ng-model="lastWords">
      <label ng-hide="hideParameters">Victory speech:</label>
      <input ng-hide="hideParameters" type="text" class="col-md-12" ng-model="victorySpeech">
      <label>Type:</label>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn" ng-class="fighterType == 1?'btn-danger':'btn-default'" ng-click="fighterType=1">Rock</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn" ng-class="fighterType == 2?'btn-primary':'btn-default'" ng-click="fighterType=2">Paper</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn" ng-class="fighterType == 3?'btn-success':'btn-default'" ng-click="fighterType=3">Scissors</button>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <label>Select fighter class:</label>
      <class-card fighter-class="fighterClass" ng-repeat="fighterClass in classes" ng-class="{'selected':fighterClass.selected}" ng-click="selectClass(fighterClass)"></class-card>
    </div>
    <div class="col-md-3">
       <div class="card sprite-preview">
         <div class="class-sprite" style="background-image: url(../images/{{getImagePath()}}.png);"></div>
         <button class="btn btn-primary" ng-click="changeColor()"><i class="glyphicon glyphicon-arrow-right"></i></button>
       </div>
      <button class="btn btn-success btn-lg" ng-click="createFighter($event)">Create Fighter</button>
    </div>
  </div>
</div>