<main-header class="admin-header"></main-header>
<div class="content game">
  <div class="card">
    <h2>Round: <label>{{currentRound}}</label> </h2>
    <button type="button" class="btn btn-primary btn-lg">
      Next Round
    </button>
    <button type="button" class="btn btn-warning btn-lg">
      Revive somebody
    </button>
    <button type="button" class="btn btn-warning btn-lg">
      Kill somebody
    </button>
    <button type="button" class="btn btn-danger btn-lg">
      End game
    </button>
  </div>
</div>

