<main-header></main-header>
<div class="content">
  <div class="card" ng-if="currentRound">
    <h2 class="round-label">Round <span class="label label-info">{{currentRound}}</span> </h2>
  </div>
  <div class="card" ng-class="{'gameboy-centered': targetAdversary && adversaryChosen}">
    <div ng-if="wait" class="wait">
      <h3>Please wait and refresh when the Admin starts a new round.</h3>
      <img src="../images/wait.gif" ng-click="reload()">
    </div>
    <div ng-show="!wait">
      <div class="fighter-filter form-group" ng-show="!adversaryChosen">
        <input class="form-control" type="text" ng-model="searchFighter" placeholder="Search Fighter">
        <span class="custom-checkbox">
          Only alive
          <i class="fa" ng-class="onlyAlive?'fa-check-square':' fa-square-o'" ng-click="toggleOnlyAlive()"></i>
        </span>
      </div>
      <div class="adversary-area col-md-5" ng-show="!adversaryChosen">
        <fighter-card fighter="adversary" ng-repeat="adversary in filteredAdversaries track by $index" total="adversaries.length" ng-click="selectTarget(adversary)" ng-class="{'selected':targetAdversary.idfighter === adversary.idfighter}"></fighter-card>
      </div>
      <div class="gameboy">
        <div class="my-fighter-area background-{{randomBackground}}">
          <my-fighter ng-if="targetAdversary" fighter="myFighter"></my-fighter>
          <fighter-card ng-if="targetAdversary" fighter="targetAdversary" ng-animate="'slide'"></fighter-card>
          <fighter-card class="second-target" ng-show="targetAdversary2 && myFighter.idclass == 3" fighter="targetAdversary2" ng-animate="'slide'"></fighter-card>
        </div>
        <div class="gameboy-buttons-area">
          <div class="btn-group btn-group-justified" role="group" aria-label="..." ng-show="targetAdversary && !adversaryChosen && myFighter.hp > 0 && myFighter.idclass == 3">
            <div class="btn-group" role="group">
              <button type="button" class="btn" ng-class="choice == 1?'btn-success':'btn-default'" ng-click="choice=1">1st Choice</button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn" ng-class="choice == 2?'btn-success':'btn-default'" ng-click="choice=2">2nd Choice</button>
            </div>
          </div>
          <button ng-show="targetAdversary && !adversaryChosen && myFighter.hp > 0" ng-click="attack()" type="button" class="btn btn-danger btn-lg">Attack!</button>
          <button ng-show="targetAdversary && adversaryChosen" ng-click="reload()" type="button" class="btn btn-info btn-lg">Refresh</button>
        </div>
        <div class="dialog">
          <div ng-show="targetAdversary" fighter="targetAdversary">
            <span class="dialog-fighter-name">{{targetAdversary.name}}:</span> {{targetAdversary.killspeech}}
          </div>
          <div ng-show="targetAdversary2 && myFighter.idclass == 3" fighter="targetAdversary2">
            <span class="dialog-fighter-name">{{targetAdversary2.name}}:</span> {{targetAdversary2.killspeech}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>